@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
  }
  
  @font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Bold.ttf);
    font-weight: bold;
  }
  
  * {
    font-family: JetBrainsMono;
  }
  
  html, body {
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    background-color: rgb(43, 43, 43);
    color: white;
  }
  
  html::-webkit-scrollbar {
    display: none;
  }