@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Satori;
  src: url(../fonts/Satoshi/Satoshi-Variable.ttf);
}

* {
  font-family: Satori;
}

html, body {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  background-color: rgb(43, 43, 43);
  color: white;
}

html::-webkit-scrollbar {
  display: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  pointer-events: none;
}