@font-face {
  font-family: Consolas;
  src: url(../fonts/CONSOLA.TTF);
  font-weight: normal;
}

* {
  font-family: Consolas;
}

html, body {
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}
/* 
.debug {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
} */

.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(192, 192, 192, 0.712),
    rgba(88, 32, 0, 0.212)
  );
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

@keyframes text-gradient-anim {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes text-gradient-anim {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.welcome-header h1, .welcome-header div {
  position: absolute;
  font-size: 70px;
  padding: .6em;
  -webkit-text-fill-color: transparent;
}

.welcome-header h1 {
  background: linear-gradient(
    90deg,
    rgb(20, 146, 204),
    rgb(69, 67, 175),
    rgb(20, 146, 204),
    rgb(75, 74, 180)
  ) 0 0 / 800% 100%;
  -webkit-animation: text-gradient-anim 14s ease infinite; 
  animation: text-gradient-anim 14s ease infinite;
  -webkit-background-clip: text;
  background-clip: text; 
  border: 8px solid rgb(170, 170, 170);
}

.welcome-header div {
  background-color: rgba(51, 51, 51, .6);
}

.welcome-background {
  position: absolute;
  min-width: 120vw;
  min-height: 110vh;
  z-index: 0;
}

.icon {
  width: 30px;
  height: 30px;
}

.image-source {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.705));
  pointer-events: auto;
}

.image-source:hover {
  filter: drop-shadow(0 0 6px white) drop-shadow(0 0 20px rgb(151, 151, 151));
  transition: filter 100ms ease-out;
}

.image-source-link {
  text-decoration: none;
  color: transparent;
  position: absolute;
  top: calc(100vh - 40px);
  left: 50px;
  height: 20px;
  width: 20;
  white-space: nowrap;
  pointer-events: none;
}

.image-source-link:hover {
  color: white;
  transition: color 500ms linear;
}

.scroll-arrow {
  position: absolute;
  top: calc(100vh - 50px);
  animation: scroll-arrow-anim 5s infinite;
  filter: drop-shadow(0 0 6px white) drop-shadow(0 0 10px white);
}

@keyframes scroll-arrow-anim {
  0%, 10% {
    opacity: 0;
    transform: translate(0, -15px);
  }

  50%, 75% {
    opacity: 1;
    transform: translate(0, 0);
  }

  90%, 100% {
    opacity: 0;
    transform: translate(0, 15px);
  }
}

/* main page links */
.links-container {
  position: relative;
  display: flex;
  background-color: green;
  margin: 0;
  padding: 0;
  background-image: url(../images/space-ccw.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size:cover;
}

.links-container li {
  flex: auto;
  width: 0;
  list-style: none;
  text-align: center;
  /* border: 2px solid white; */
}

.links-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  padding-top: 15vh;
  padding-bottom: 15vh;
  color: white;
  background-color: transparent;
}


.links-container a:hover {
  background-color: rgba(127, 127, 127, 0.5);
  transition: background-color 0.25s ease-out;
}

/**/
.title {
  color: #00c3ff;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 14px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0px 3px 10px -5px #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: solid;
  border-color: #333;
  font-weight: bold;
}

.navbar a:hover {
  background-color: rgb(40, 40, 40);
  border-color: rgb(117, 117, 117);
  border-style: solid;
}

.navbar a.active {
  background-color: #00c3ff;
  border-color: #00c3ff;
  color: white;
  cursor: default;
}

.content {
  margin: 1em
}

.content-section {
  border-style: solid;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.button {
  display: inline-block;
  padding: 12px;
  margin-bottom: 1em;
  background-color: #00c3ff;
  border-radius: 6px;
  border-width: 0;
  font-weight: bolder;
  font-size:small;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.button:hover {
  background-color: #00a5d7;
}

@media only screen and (max-width: 700px) {
  .welcome-header h1, .welcome-header div {
    font-size: 45px;
  }
}